@import "fonts.css";

html
{
	/*Fonts*/
	font-family: Lato;
	color: rgb(120, 120, 120);

	background-color: rgb(245, 245, 245);
}

a
{
	color: rgb(120, 120, 120);
	text-decoration: none;
}

/*Navigation*/
.topNavContainer
{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: fixed;
	padding-bottom: 10px;

	background-color: rgba(245, 245, 245, 0.5);

	z-index: 100;
}

.topNav
{
	padding-top: 10px;
	padding-left: 10px;

	/*background-color: purple;*/
}

.topNav a
{
	padding: 10px;
	float: left;

	/*Transition*/
	transition: color 0.5s;

	/*background-color: red;*/
}

.topNav a:hover
{
	color: black;
}